

<div > 
    <a ui-sref="kitchen" 
       style="position:absolute; top: 10px;">Move to kitchen</a>
    
    <img src="../img/background.png" 
         style="width:100%";/>   
      
    <img  
         src="../img/tiger.png" 
         style="width: 12%; height: 21%;position:absolute; top: 374px; left:289px"/>
    
    <img src="../img/pur.png" 
         style="width: 10%; height: 10%;position:absolute; top: 30px; left:190px"/>
    
    <img src="../img/dance.png" 
         style="width: 10%; height: 10%;position:absolute; top: 30px; left:290px"/>  
</div>



