<!doctype>
<html>
<title>Pizza</title>
<head>
<style>
    h1 {
        color: red;
        font-family: Arial;
        font-size: 100px;
    }
    p { color: #33CC33; } 
    body {background-color: #730000;}
div { 
    height:50px;
    width:120px;
    border-radius: 10px;
    margin: auto;  
    background-color: black;
    text-align: center;   
   
    }
a {
    color: red;
    text-decoration: none;
    font-family: cursive;
    text-align: center;    
}
    
    </style>
</head>
<body>
<h1>Eugene</h1>

<p>I like pizza.</p>
<p>I mean I love pizza.</p>
<p>Do you like pizza?</p>
<a href="http://www.codeacademy.com"><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcT0Y3E-szdxep9CSZG_mPSJ4j-c3o_1ce0Vcg-o8p4ZfZid3rx1KxsxBHI"/></a>
<div> <a href="http://www.nikalaasante.com"> Eugene's Mom </a></div>        

</body>

</html>