


    <div>
        
        <a ui-sref="bathroom"
           style="position:absolute; top: 10px;">Move to bathroom</a>
        <img src="../img/kitchen1.jpg" 
             style="width:100%";/>   
        
        <img 
             src="../img/tiger.png" 
             style="width: 12%; height: 21%;position:absolute; top: 374px; left: 200px"/>
        
        <img ng-click="drink=!drink"             
             src="../img/water_bottle.png" 
             style="width: 10%; height: 10%;position:absolute; top: 30px; left:190px"/>
        
        <img src="../img/eat.png" 
             style="width: 10%; height: 10%;position:absolute; top: 30px; left:290px"/>
        
        <img ng-show="drink" 
             src="../img/bottle.png" 
             style="width: 10%; height: 10%;position:absolute; top: 400px; left:200px"/>
        
    </div>

