<!DOCTYPE>
<html>
<head>
    <style>
        body {background: url(meadow-pond.jpg) no-repeat center center fixed; width:100%;background-position: left top; }
/*        #backgrnd {url(meadow-pond.jpg) no-repeat center center fixed;width:1164px;height:774px;}*/
    </style>
    
</head>

<body>
    
    <!--<img style="position:fixed;width:100%" src="meadow-pond.jpg">
    <a href="http://www.easttexasland.com/74-16-acres-outside-of-mckinney-w-hilltop-meadow-pond/">
       </a>-->
    <div id="backgrnd">
    <a href="http://i295.photobucket.com/albums/mm158/cutebuneary/Pokemon/Politoed.gif">
        <img style="position:fixed;left:610px;top:400px" src="Politoed.gif">
    </a>
    <a href="http://xous54.deviantart.com/art/Sandile-167445871">
    <img style="position:fixed;left:610px;top:550px" src="sandile.png">
    </a>
    <a href="pokechase12.html">
    <img style="position:fixed;left:1005;top:550" src="pikaforwardLeft/thunderbolt1.png">
    </a>
    <a href="http://poohadventures.wikia.com/wiki/Gligar">
    <img style="position:fixed;left:480px;top:100px" src="gligar.jpg">
    </a>
        <a href="http://bulbapedia.bulbagarden.net/wiki/Heracross_(Pok%C3%A9mon)">
        <img style="position:fixed;left:970px;top:550" src="heracross.png">
        </a>
    <a href="http://zusuriki.deviantart.com/art/Nr-16-Pidgey-211719671">
    <img style="position:fixed;left:567px;top:100px" src="pidgey.png">
    </a>
    <a href="http://pokemondb.net/pokedex/yanma">
    <img style="position:fixed;left:589px;top:420px" src="yanma.jpg">
    </a>
        <a href="http://pokemondb.net/pokedex/yanma">
    <img style="position:fixed;left:589px;top:450px" src="yanma.jpg">
    </a>
            <a href="http://pokemondb.net/pokedex/yanma">
    <img style="position:fixed;left:589px;top:430px" src="yanma.jpg">
    </a>
            <a href="http://pokemondb.net/pokedex/yanma">
    <img style="position:fixed;left:589px;top:400px" src="yanma.jpg">
    </a>
            <a href="http://pokemondb.net/pokedex/yanma">
    <img style="position:fixed;width:2%;left:589px;top:379px" src="yanma.jpg">
    </a>
    <a href="http://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)">
    <img style="position:fixed;left:623px;top:554px" src="durant.png">
    </a>
         <a href="http://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)">
    <img style="position:fixed;left:589px;top:529px" src="durant.png">
    </a>
         <a href="http://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)">
    <img style="position:fixed;left:560px;top:529px" src="durant.png">
    </a>
         <a href="http://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)">
    <img style="position:fixed;width:2%;left:540px;top:529px" src="durant.png">
    </a>
         <a href="http://bulbapedia.bulbagarden.net/wiki/Durant_(Pok%C3%A9mon)">
    <img style="position:fixed;left:510px;top:529px" src="durant.png">
    </a>
    <a href="http://www.clipartof.com/gallery/clipart/ant_hill.html">
    <img style="position:fixed;position;left:460px;top:550px" src="antpile.jpg">
    </a>
        </div>
    </body>