<!DOCTYPE>
<html>
<head>
     <style>
        body {background: url(../img/select-screen.jpg) no-repeat center center fixed; width:100%;background-position: left top; }  
    </style>
    
</head>

<body>
    
    <!--<img style="position:fixed;width:100%" src="meadow-pond.jpg">
    <a href="http://www.easttexasland.com/74-16-acres-outside-of-mckinney-w-hilltop-meadow-pond/">
       </a>-->
    <div id="backgrnd">
    <a ui-sref="pokechase">
        <img style="position:fixed;left:50px;top:130px" src="../img/Politoedartfull.png">
    </a>
<!--        <a href="http://i295.photobucket.com/albums/mm158/cutebuneary/Pokemon/Politoed.gif">-->
        <img ng-click="countTime()" style="position:fixed;left:100px;top:490px" src="../img/Politoed.gif">
<!--    </a>-->
    <a ui-sref="pokechase">
    <img style="position:fixed;left:735px;top:200px" src="../img/largedile.png">
    </a>
         <a href="http://xous54.deviantart.com/art/Sandile-167445871">
    <img style="position:fixed;left:190px;top:500px" src="../img/sandile.png">
    </a>
    <a ui-sref="pokechase">
    <img style="position:fixed;left:280px;top:140px" src="../img/pikalarge.jpg">
    </a>
         <a href="http://pokemon.wikia.com/wiki/Pikachu">
    <img style="position:fixed;left:280px;top:430px" src="../img/pikachu.jpg">
    </a>
    <a ui-sref="pokechase">
    <img style="position:fixed;left:500px;top:190px" src="../img/bigar.jpg">
    </a>
        <a href="http://poohadventures.wikia.com/wiki/Gligar">
    <img style="position:fixed;left:280px;top:500px" src="../img/gligar.jpg">
    </a>
        
      