
#wrapper {width: 1280px;
    height:800px;
	margin-left:auto;
	margin-right:auto;
	min-width: 1280px;
    min-height: 800px;
}

    
.bg{position: absolute;
    top: 0px;
    left:0px;
    z-index:-333;
}
    
    
.logo {position:absolute;
    top:250px;
    left:490px;
    z-index: 10;
    }
    
#gesture-container {
    padding:20px;
    position:absolute;
    height:800px;
    width:800px;
    border-color: red;
    border-style: groove;
    border-width: thick;
}
#results {
    position:relative;
    top:20px;
    left:30px;
}